### [ 기본 함수 구현 계획 ]  
① &nbsp; 내가 맡은 컬럼 `Family History`

② &nbsp; Yes = 1, No = 0  

③ &nbsp; 다른 컬럼과의 연관성  

④ &nbsp; 다른 특성 입력 받았을 때 같이 출력?

#### 1. 데이터 불러오기  
① &nbsp; '케글'에서 폐암 데이터셋을 다운  

② &nbsp; 다운 받은 데이터셋.csv 파일을 깃허브에 업로드  

③ &nbsp; 판다스를 이용하여 RAW URL에서 데이터셋을 vs code로 불러옴  

④ &nbsp; 데이터가 잘 들어왔는지 `.head()`와 `.shape` 을 통해 확인

In [2]:
import pandas as pd

df = pd.read_csv('Lung Cancer_Ct.csv')


df.head()

,id,age,gender,country,diagnosis_date,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,...,MMX2_FAM,MMX2_JA270,MMX3_FAM,MMX3_HEX,MMX3_JA270,selected,base,addition,final_ct,mutation_detected
0,1,64,Male,Sweden,2016-04-05,Stage I,Yes,Passive Smoker,29.4,199,...,NaN,NaN,NaN,NaN,NaN,MMX1_JA270,31.001958,-0.3,31.2,S768I
1,2,50,Female,Netherlands,2023-04-20,Stage III,Yes,Passive Smoker,41.2,280,...,NaN,NaN,25.3,NaN,NaN,MMX3_FAM,25.194727,-0.3,25.3,L861Q
2,3,65,Female,Hungary,2023-04-05,Stage III,Yes,Former Smoker,44.0,268,...,NaN,26.0,NaN,NaN,NaN,MMX2_JA270,26.855725,-0.2,26.0,T790M
3,4,51,Female,Belgium,2016-02-05,Stage I,No,Passive Smoker,43.0,241,...,NaN,NaN,NaN,NaN,NaN,MMX1_JA270,30.513162,-0.3,28.9,S768I
4,5,37,Male,Luxembourg,2023-11-29,Stage I,No,Passive Smoker,19.7,178,...,29.9,NaN,NaN,NaN,NaN,MMX2_FAM,30.717370,-0.3,29.9,L858R

### [ 파이썬 ]

In [3]:
select_id = int(input("id를 입력하시오: "))

# 해당 id의 family_history 데이터를 조회합니다.
family_history_series = df.loc[df['id'] == select_id, 'family_history']
age_series = df.loc[df['id'] == select_id, 'age']

print('[family_history: Yes = 1, No = 0]')   # 첫 줄에 1과 0을 정의하기 // 이렇게 할지 아니면 판다스의 내용을 1과 0으로 바꿀지 회의하기!!
print()

if not family_history_series.empty:                       # 판다스의 공식 같은 느낌? (if not empty와 values[0]을 사용)
    family_history = family_history_series.values[0]
    age = age_series.values[0]
    
    if family_history == 'Yes':
        print(f"id: {select_id}\nAge: {age}\nfamily_history: 1")
    elif family_history == 'No':
        print(f"id:{select_id}\nAge: {age}\nfamily_history: 0")
else:
    # 검색 결과가 없는 경우
    print("해당 id를 찾을 수 없습니다.")


# 검색 결과창에 gender,coutry등을 포함 시켜야할지 회의하기!!
# 판다스로 결과창을 출력하는 방향으로 해야하나?

[family_history: Yes = 1, No = 0]

id: 2
Age: 50
family_history: 1

### [ 판다스 ]

In [ ]:
#아이디를 입력 받으면 나이와 가족력을 출력하는 명령문

select_id = 1

result_df = df.loc[df['id'] == select_id, ['id', 'age', 'family_history']].copy()

if not result_df.empty:
    result_df['family_history'] = result_df['family_history']
    

    display(result_df) 
else:
    print("해당 id를 찾을 수 없습니다.")

   id  age family_history
0   1   64            Yes

In [ ]:
columns_to_view = ['id', 'family_history', 'age'] 

# 가족력 있는 사람 확인
print("=== 가족력이 있는 사람 ===")
df_yes = df.loc[df['family_history'] == 'Yes', columns_to_view]
display(df_yes)


# 가족력이 없는 사람 확인
print("=== 가족력이 없는 사람 ===")
df_no = df.loc[df['family_history'] == 'No', columns_to_view]
display(df_no)

=== 가족력이 있는 사람 ===

            id family_history  age
0            1            Yes   64
1            2            Yes   50
2            3            Yes   65
6            7            Yes   49
7            8            Yes   51
...        ...            ...  ...
889994  889995            Yes   55
889996  889997            Yes   62
889997  889998            Yes   48
889998  889999            Yes   67
889999  890000            Yes   55

[444819 rows x 3 columns]

=== 가족력이 없는 사람 ===

            id family_history  age
3            4             No   51
4            5             No   37
5            6             No   50
10          11             No   48
13          14             No   56
...        ...            ...  ...
889987  889988             No   50
889989  889990             No   71
889990  889991             No   49
889992  889993             No   45
889995  889996             No   40

[445181 rows x 3 columns]